<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_lesson_1">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/puzzle_game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".gamePazzle.ShowResultsActivity"
            android:exported="false"
            android:label="@string/results" />
        <activity
            android:name=".changeThemeAudioSettings.ExampleSettingActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".gamePazzle.ResultActivity"
            android:exported="false"
            android:label="@string/result_page" />
        <activity
            android:name=".gamePazzle.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gamePazzle.MainActivity" />
    </application>

</manifest>